---
export const prerender = false;
import Layout from "@layouts/layout.astro";
---

<Layout>
  <div class="flex min-h-screen justify-center items-center">
    <p class="text-center">
      Hello, welcome. <br />
      <a href="/login">Login</a> or <a href="/register">Register</a>
    </p>
  </div>
</Layout>
