---
import Layout from "@layouts/dashboard.astro";
export const prerender = false;
const { t } = Astro.locals;
---

<Layout title={t("navigations.defaults.billing")}>
  <div class="h2">{t("dashboard.welcome")}</div>
</Layout>
