---
import Layout from "../../layouts/dashboard.astro";
export const prerender = false;
---

<Layout title="Websites">
  <div class="py-10">
    <div class="grid grid-cols-3 gap-6">
      <div class="block group">
        <div class="relative">
          <img
            alt=""
            src="https://images.unsplash.com/photo-1588515724527-074a7a56616c?auto=format&fit=crop&q=80&w=1160"
            class="h-56 w-full rounded-md object-cover sm:h-64 lg:h-72"
          />
          <div
            class="opacity-0 group-hover:opacity-100 inline-flex absolute inset-x-0 bottom-2 justify-center"
          >
            <button
              class="cursor-pointer rounded-l-sm border bg-white border-gray-200 px-3 py-2 font-medium text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900 focus:z-10 disabled:pointer-events-auto disabled:opacity-50"
            >
              Edit Website
            </button>

            <button
              class="cursor-pointer -ml-px border bg-white border-gray-200 px-3 py-2 font-medium text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900 focus:z-10 disabled:pointer-events-auto disabled:opacity-50"
            >
              Settings
            </button>
          </div>
        </div>
        <div class="mt-4 sm:flex sm:items-center sm:justify-center sm:gap-4">
          <strong class="font-medium">PT Lokin Inovasi Gemilang</strong>
          <span class="hidden sm:block sm:h-px sm:w-8 sm:bg-yellow-500"></span>
          <p class="mt-0.5 opacity-50 sm:mt-0">Published</p>
        </div>
      </div>
      <div class="block group">
        <div class="relative">
          <img
            alt=""
            src="https://images.unsplash.com/photo-1588515724527-074a7a56616c?auto=format&fit=crop&q=80&w=1160"
            class="h-56 w-full rounded-md object-cover sm:h-64 lg:h-72"
          />
          <div
            class="opacity-0 group-hover:opacity-100 inline-flex absolute inset-x-0 bottom-2 justify-center"
          >
            <button
              class="cursor-pointer rounded-l-sm border bg-white border-gray-200 px-3 py-2 font-medium text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900 focus:z-10 disabled:pointer-events-auto disabled:opacity-50"
            >
              Edit Website
            </button>

            <button
              class="cursor-pointer -ml-px border bg-white border-gray-200 px-3 py-2 font-medium text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900 focus:z-10 disabled:pointer-events-auto disabled:opacity-50"
            >
              Settings
            </button>
          </div>
        </div>
        <div class="mt-4 sm:flex sm:items-center sm:justify-center sm:gap-4">
          <strong class="font-medium">PT Lokin Inovasi Gemilang</strong>
          <span class="hidden sm:block sm:h-px sm:w-8 sm:bg-yellow-500"></span>
          <p class="mt-0.5 opacity-50 sm:mt-0">Published</p>
        </div>
      </div>
      <div class="block group">
        <div class="relative">
          <img
            alt=""
            src="https://images.unsplash.com/photo-1588515724527-074a7a56616c?auto=format&fit=crop&q=80&w=1160"
            class="h-56 w-full rounded-md object-cover sm:h-64 lg:h-72"
          />
          <div
            class="opacity-0 group-hover:opacity-100 inline-flex absolute inset-x-0 bottom-2 justify-center"
          >
            <button
              class="cursor-pointer rounded-l-sm border bg-white border-gray-200 px-3 py-2 font-medium text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900 focus:z-10 disabled:pointer-events-auto disabled:opacity-50"
            >
              Edit Website
            </button>

            <button
              class="cursor-pointer -ml-px border bg-white border-gray-200 px-3 py-2 font-medium text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900 focus:z-10 disabled:pointer-events-auto disabled:opacity-50"
            >
              Settings
            </button>
          </div>
        </div>
        <div class="mt-4 sm:flex sm:items-center sm:justify-center sm:gap-4">
          <strong class="font-medium">PT Lokin Inovasi Gemilang</strong>
          <span class="hidden sm:block sm:h-px sm:w-8 sm:bg-yellow-500"></span>
          <p class="mt-0.5 opacity-50 sm:mt-0">Published</p>
        </div>
      </div>
      <div class="block group">
        <div class="relative">
          <img
            alt=""
            src="https://images.unsplash.com/photo-1588515724527-074a7a56616c?auto=format&fit=crop&q=80&w=1160"
            class="h-56 w-full rounded-md object-cover sm:h-64 lg:h-72"
          />
          <div
            class="opacity-0 group-hover:opacity-100 inline-flex absolute inset-x-0 bottom-2 justify-center"
          >
            <button
              class="cursor-pointer rounded-l-sm border bg-white border-gray-200 px-3 py-2 font-medium text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900 focus:z-10 disabled:pointer-events-auto disabled:opacity-50"
            >
              Edit Website
            </button>

            <button
              class="cursor-pointer -ml-px border bg-white border-gray-200 px-3 py-2 font-medium text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900 focus:z-10 disabled:pointer-events-auto disabled:opacity-50"
            >
              Settings
            </button>
          </div>
        </div>
        <div class="mt-4 sm:flex sm:items-center sm:justify-center sm:gap-4">
          <strong class="font-medium">PT Lokin Inovasi Gemilang</strong>
          <span class="hidden sm:block sm:h-px sm:w-8 sm:bg-yellow-500"></span>
          <p class="mt-0.5 opacity-50 sm:mt-0">Published</p>
        </div>
      </div>
      <div
        class="border-2 border-dashed border-gray-200 hover:border-gray-300 cursor-pointer rounded-md flex justify-center items-center"
      >
        New Website
      </div>
    </div>
  </div>
</Layout>
